{% extends "base.html.twig" %}

{% block title %}
    Movies Page
{% endblock %}

{% block body %}
    <h1>Lecimy! - globals</h1>
    _self : {{_self}} <br>
    _charset : {{_charset}} <br>
    'twig.yaml' : {{author}} <br>

    {% if (titles) %}

        {% for title in titles %}

            <p>{{ title }} </p>

        {% endfor %}

    {% else %}
        <p>Nie ma filmusia ;/</p>
    {% endif %}
    
{% endblock %}